[submodule "ClassicReentrancy/lib/forge-std"]
	path = ClassicReentrancy/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "CrossFunctionReentrancy/lib/forge-std"]
	path = CrossFunctionReentrancy/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
